.page_page_rights_username{
	width: 140px;
	height: 50px;
	font-size: 16px;
	float: left;
	display: inline-block;
}
.page_page_rights_read{
	width: 140px;
	height: 50px;
	font-size: 16px;
	float: left;
	display: inline-block;
}
.page_page_rights_wirte{
	width: 140px;
	height: 50px;
	font-size: 16px;
	float: left;
	display: inline-block;
}
.page_rights_change{
	width: 140px;
	height: 50px;
	font-size: 16px;
	float: left;
	display: inline-block;
}
.page_name{
	float: left;
	text-align: center;
	width: 200px;
	height: 40px;
	font-size: 30px;
	font-weight: 500;
	margin-top: 20px;
}
.page_return{
	float: left;
	text-align: center;
	width: 80px;
	height: 40px;
	font-size: 20px;
	margin-top: 30px;
	margin-left: 300px;
}
.right_title{
	width: 600px;
	height: 60px;
}
.page_rights_list{
	width: 200px;
	height: 20px;
	font-size: 20px;
	font-weight: 450;
	margin-top: 20px;
}
.power_search{
	height: 40px;
	width: 300px;
	margin-right: 120px;
}
.power_search input {
	border-style: solid;
    height: 30px;
    margin-top: 15px;
}
.power_search button {
    top: 0;
    right: 0;
    height: 30px;
    margin-top: 5px;
}
